*{
  margin: 0;
  padding: 0;
}
input{
  outline: none;
}
.search-body{
  background-image: url(../public/Searchs_004.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
}
.search-inp-div{
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* align-items: center; */
  /* height: 35em; */
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 12rem;

}
#search-inp{
  width: 38rem;
  padding: 10px 32px;
  border-radius: 32px;
  border: 0.1px solid white;
  /* min-height: 40px; */
  font-size: 18px;
 height: 60px;
}
.add-icons{
  background-color: white;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 55px;
  top: 15px;
}
.menu-icons{
  font-size: 2.5rem;
  cursor: pointer;
}
.menu-nav-div-none{
  display: none;
position: absolute;
display: flex;
flex-direction: column;
top: 0;
background-color: white;
gap: 2rem;
padding: 1rem;
height: 14rem;
left: -10rem;
transition: 1s;
}
.menu-nav-div{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: white;
  gap: 2rem;
  padding: 1rem;
  height: 14rem;
  left: 0;
  transition: 1s;
  z-index: 99999;

}
.menu-nav-link{
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}
.menu-nav-X-div{
  display: flex;
  justify-content: end;
}
.menu-nav-X{
cursor: pointer;
}
.trash-icons{
  cursor: pointer;
  font-size: 1.7rem;
  color: red;
  position: absolute;
  right: 20px;
    top: 12px;
}
.link-div{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.link-map-value{
  font-size: 1.3rem;
  font-weight: 400;
  max-width: 30rem;
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 999 !important;
}
.link-map-div{
  display: flex;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(244, 220, 220, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 38rem;
  padding: 12px 32px 12px 32px;
  border-radius: 32px;
  border: 0.1px solid white;
  font-size: 18px;
  margin: 0 auto;
  background-color: white;
}

/* .tbody-trash-icons{
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}

html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead th {
  color: #fff;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}

.table-scroll table thead th {
  font-size: 1.25rem;
}
thead {
  top: 0;
  position: sticky;
}
.edit-td{
  display: flex;
  width: 10rem;
}
.tbody-edit-icons{
  color: orange;
  font-size: 1.5rem;
  cursor: pointer;
}
.edit-done-icons{
  color: green;
  cursor: pointer;
  font-size: 1.5rem;
}
.tbody-td{  
background-color: rgb(180, 176, 176) !important;
width: 45rem;
}
.tbody-td-bg{
  background-color: white !important;
  width: 45rem;
}
.thead-th{
  cursor: pointer;
}
.thead-th-none-div{
  position: absolute;
  bottom: -1rem;
  z-index: 9999;
  display: none;
}
.thead-th-header{
  font-size: 1.5rem;
}
.css-az8st9-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
  overflow: inherit; 
  white-space: normal !important;
}
.css-az8st9-MuiDataGrid-root .MuiDataGrid-cellContent{
  height: 3rem !important;
  overflow-y: auto !important;
}
.GridToolbarContainer{
  display: flex;
  justify-content: space-between;
} */


/* Table css */

.table-header{
  color: white;
}
.table-icons{
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}
.table-actions-icons{
  display: flex;
  gap: 1rem;
  
}
.MDBCardHeader{
background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}


    .card-body{
      overflow: auto !important;
    }
    .rowsEdit-none{
      display: none;
    }
    .rowsEdit{
      width: 22rem;
      position: absolute;
      left: 36rem;
      top: 8rem;
      background-color: white;
      z-index: 99999999;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 7px 14px;
    }
    .close-div{
      display: flex;
      justify-content: end;
    }
    .rowsEdit-sort{
      display: flex;
      gap: 1rem;
    }
    .sort-btn{
      background-color: #45cafc;
      border: none;
      border-radius: 9px;
      padding: 5px;
    }
    .rowsEdit-search-div{
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: relative;
    }
    .search-inp{
      padding: 3px 5px;
      width: 15rem;
      border-radius: 9px;
      border: 0.1px solid black;
    }
    .search-icons{
      font-size: 1.6rem;
      cursor: pointer;
      position: absolute;
      right: 5.6rem;
    }
    .blackBg-none{
      display: none;
    }
    .blackBg{
      width: 100%;
      height: 90rem;
      background-color: black;
      position: absolute;
      top: 0;
      opacity: 0.7;
      z-index: 9999;
    }
    .close-btn{
      border: none;
      background-color: white;
      color: red;
      font-size: 1.5rem;
    }
    .dataSort{
      display: flex;
      gap: 1rem;
    }
    .done-table-icons{
      color: red;
      font-size: 1.2rem;
    }
    .rowsData-search{
      margin-top: 1rem;
      min-height: 7rem;
    }